* {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  padding-bottom: 30vh;
}

.box {
  border-style: solid;
  transition: all 0.4s ease;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

.layout > * {
  flex: 0 0 auto;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.control {
  padding: 10px 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

input {
  text-align: left;
}

button {
  background-color: transparent;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 68.5px;
  width: 177px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

button:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.control label {
  display: inline-block;
  transition: opacity 0.5s ease;
}